<a href="https://colab.research.google.com/github/18K-480/assignment-1/blob/master/assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#problem:1
yr=int(input("enter year "))
d={0:"monkey",1:"rooster",2:"dog",3:"pig",4:"rat",5:"ox",6:"tiger",7:"rabbit",8:"dragon",9:"snake",10:"horse"}
x=yr%12
if x in d:
  print(d[x])
else:
    print("sheep")

In [ ]:
#problem:2
dis=int(input("enter distance "))
w=int(input("enter weight "))
if dis>=500:
    if w>=100:
        cost=7*dis
    elif w>=10 and w<100:
        cost=6*dis
    else:
        cost=5*dis
else:
    if w>=100:
        cost=8*dis
    else:
        cost=5*dis
print("goods charge ",cost)

In [ ]:
#problem:3
seat=input("enter type of seat ")
mode=input("enter payment mode ")
if seat=='circle':
    if mode=='cash':
        cost=750-((10/100)*750)
        print(cost)
    else:
        cost=750-((5/100)*750)
        print(cost)
elif seat=='stall':
    if mode=='cash':
        cost=625-((10/100)*625)
        print(cost)
    else:
        cost=625-((5/100)*625)
        print(cost)
if seat=='upperclass':
    if mode=='cash':
        cost=850-((10/100)*850)
        print(cost)
    else:
        cost=850-((5/100)*850)
        print(cost)
else:
    if mode=='cash':
        cost=1000-((10/100)*1000)
        print(cost)
    else:
        cost=1000-((5/100)*1000)
        print(cost)

In [ ]:
#problrm:4
m=float(input("weight of water"))
t1=int(input("initial temperature "))
t2=int(input("final temperature "))
q=m*(t2-t1)*4184
print(q,"J")

In [ ]:
#problem:5
month=input("enter month ")
if month=='december' or month=='january' or month=='february':
    print("Winter")
if month=='march' or month=='april' or month=='may':
    print("Spring")
if month=='june' or month=='july' or month=='august':
    print("Summer")
if month=='september' or month=='october' or month=='november':
    print("Autum")

In [ ]:
#problem:6
h=int(input("enter height "))
w=int(input("enter weight "))
bmi=(w*0.4535)/(h*0.0254)**2
if bmi<18.5:
    print("underweight")
elif bmi>=18.5 or bmi<25.0:
    print("normal")
elif bmi>=25.0 or bmi<30.0:
    print("overweight")
else:
    print("obese")

In [ ]:
#problem:7
i=int(input("enter value between 100 and 1000 "))
sum=0
rem=0
while i>0:
    rem=i%10
    sum=sum+rem
    i=i//10
print(sum)

In [ ]:
#problem 8
for i in range(1,1000):
    num=i
    rem=0
    sum=0
    while i>0:
        rem=i%10
        sum=sum*10+rem
        i=i//10
    if sum==num:
        print(num)

In [ ]:
#problem 9
for i in range(1,1000):
    num=i
    rem=0
    sum=0
    while i>0:
        rem=i%10
        sum=sum+rem**3
        i=i//10
    if sum==num:
        print(num)

In [ ]:
#problem:10
for i in range(1,100):
    if i%3==0 and i%5==0:
        print("fizz buzz")
    elif i%3==0:
        print("Fizz")
    elif i%5==0:
        print("Buzz")
    else:
        print(i)

In [ ]:
#problem:11
h=int(input("height "))
u=int(input("climb "))
d=int(input("down "))
x=0
count=0
while x<=(h-u):
    x=x+(u-d)
    count+=1
print(count+1)